<footer class="footer">
    <div class="container">
        <span class="text-muted">
            {{ config.FLASK_APP_NAME }} scores are freely available for all non-commercial applications. For a commercial application,
            please <a href="{{ url_for('base_blueprint.contact') }}">contact us</a>.
        </span>

        <span class="float-right">
            <a href="#">
                <i class="fas fa-angle-up fa-fw"></i>
                Back to top
            </a>
        </span>
    </div>
</footer>
