{% extends 'base.html' %}

{% block page_content %}
    <main role="main" class="container mt-3">
        <h1>Contact us</h1>
        <hr>

        <address>
            <strong>Kirsley CHENNEN</strong><br>
            <a href="mailto:kchennen@unistra.fr">kchennen@unistra.fr</a>
        </address>
        <address>
            <strong>Thomas WEBER</strong><br>
            <a href="mailto:thomas.weber@unistra.fr">thomas.weber@unistra.fr</a>
        </address>
        <address>
            <strong>Olivier POCH</strong><br>
            <a href="mailto:poch@unistra.fr">poch@unistra.fr</a>
        </address>

        <address>
            <strong>Cube/UMR7357, CSTB</strong><br>
            Faculté de Médecine <br>
            4 rue Kirschleger <br>
            F-67085 Strasbourg Cedex <br>
            FRANCE <br>
            <abbr title="Phone">P: </abbr> +33 (0)3 68 85 32 95
        </address>

    </main>
{% endblock page_content %}
